
.container-fluid{
    border-top: solid 17px black;
}
header{
    border-bottom: solid 1px #c0c0c0;
    padding: 17px 0;
}
.navbar-brand{
   height: 103px;
}
.nav-item{
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.dropdown-menu {
    background:#c0c0c0;
}
.carousel-inner img {
    width: 100%;
    height: 400px;
}
.container{
    padding: 20px 0;
    border-bottom: solid 1px #c0c0c0;
}
h4{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid 6px black;
    padding-bottom: 10px;
}
#sukien{
    border-style: ridge;
    color: black;
}
#sukien>img{
    width:33%;
    height: 30px;
}
#tintuc{
    border-style: ridge;
    color: black;
}

#tinnoibat{
    border-style: ridge;
}
#tintucthuong{
    border-style: ridge;
}
#coppy{
    background-color: blue;
    background-color: white;
}